@import url('https://fonts.googleapis.com/css?family=Pacifico|Patua+One|Do+Hyeon|Bungee+Inline|Megrim|Codystar|Open+Sans+Condensed:300|Titillium+Web|Nunito+Sans|Ubuntu|Orbitron');
body{
    background-color: black;
   
}

.dropdown-item{
  overflow:hidden;
}
.dropdown-item:hover{
  font-size:13px;
}

.dropdown-item img{
  width:30%;
  visibility:hidden;
  margin-left:-30px;
  opacity:0;
}

.dropdown-item:hover img{
  visibility: visible;
  opacity:1;
  margin-left:0;
  transition:all 0.5s ease-in-out;
}


/*MAIN BAR*/
.main{
  position:absolute;
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}

.content{
  padding-top:120px;
  /*margin-right:100px;*/
  font-family:'Orbitron';

}

.content h1{
  font-family:'Titillium Web';
  padding:10px;
  background-color:white;
  color:black;
  opacity:0.7;
  
}
.main-image{
  position:absolute;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index:-2;
}

.main-content{
  z-index:0;
}

.back-overlay{
  background:black;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:100vw;
  height:100vh;
  opacity:0.7;
}


.c-slack {
  position: fixed;
    top: 50%;
    left: 50%;
  width: 192px;
  height: 192px;
  -webkit-transform: rotate(10deg) translate(-50%, -50%);
          transform: rotate(10deg) translate(-50%, -50%);
}
.c-slack__dot {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  mix-blend-mode: multiply;
}
.c-slack__dot--a {
  top: 0;
  left: 0;
  background-color: yellow;
  -webkit-transform: translateX(36px);
          transform: translateX(36px);
  -webkit-animation: slack-animation--a 3s infinite;
          animation: slack-animation--a 3s infinite;
}
.c-slack__dot--b {
  top: 0;
  right: 0;
  background-color: yellow;
  -webkit-transform: translateY(36px);
          transform: translateY(36px);
  -webkit-animation: slack-animation--b 3s infinite;
          animation: slack-animation--b 3s infinite;
}
.c-slack__dot--c {
  bottom: 0;
  right: 0;
  background-color: #e9a820;
  -webkit-transform: translateX(-36px);
          transform: translateX(-36px);
  -webkit-animation: slack-animation--c 3s infinite;
          animation: slack-animation--c 3s infinite;
}
.c-slack__dot--d {
  bottom: 0;
  left: 0;
  background-color: yellow;
  -webkit-transform: translateY(-36px);
          transform: translateY(-36px);
  -webkit-animation: slack-animation--d 3s infinite;
          animation: slack-animation--d 3s infinite;
}
@-webkit-keyframes slack-animation--a {
  0% {
    top: 0;
    bottom: auto;
    height: 36px;
  }
  33% {
    top: 0;
    bottom: auto;
    height: 192px;
  }
  34% {
    top: auto;
    bottom: 0;
    height: 192px;
  }
  66% {
    top: auto;
    bottom: 0;
    height: 36px;
  }
  100% {
    top: auto;
    bottom: 156px;
    height: 36px;
  }
}
@keyframes slack-animation--a {
  0% {
    top: 0;
    bottom: auto;
    height: 36px;
  }
  33% {
    top: 0;
    bottom: auto;
    height: 192px;
  }
  34% {
    top: auto;
    bottom: 0;
    height: 192px;
  }
  66% {
    top: auto;
    bottom: 0;
    height: 36px;
  }
  100% {
    top: auto;
    bottom: 156px;
    height: 36px;
  }
}
@-webkit-keyframes slack-animation--b {
  0% {
    right: 0;
    left: auto;
    width: 36px;
  }
  33% {
    right: 0;
    left: auto;
    width: 192px;
  }
  34% {
    right: auto;
    left: 0;
    width: 192px;
  }
  66% {
    right: auto;
    left: 0;
    width: 36px;
  }
  100% {
    right: auto;
    left: 156px;
    width: 36px;
  }
}
@keyframes slack-animation--b {
  0% {
    right: 0;
    left: auto;
    width: 36px;
  }
  33% {
    right: 0;
    left: auto;
    width: 192px;
  }
  34% {
    right: auto;
    left: 0;
    width: 192px;
  }
  66% {
    right: auto;
    left: 0;
    width: 36px;
  }
  100% {
    right: auto;
    left: 156px;
    width: 36px;
  }
}
@-webkit-keyframes slack-animation--c {
  0% {
    bottom: 0;
    top: auto;
    height: 36px;
  }
  33% {
    bottom: 0;
    top: auto;
    height: 192px;
  }
  34% {
    bottom: auto;
    top: 0;
    height: 192px;
  }
  66% {
    bottom: auto;
    top: 0;
    height: 36px;
  }
  100% {
    bottom: auto;
    top: 156px;
    height: 36px;
  }
}
@keyframes slack-animation--c {
  0% {
    bottom: 0;
    top: auto;
    height: 36px;
  }
  33% {
    bottom: 0;
    top: auto;
    height: 192px;
  }
  34% {
    bottom: auto;
    top: 0;
    height: 192px;
  }
  66% {
    bottom: auto;
    top: 0;
    height: 36px;
  }
  100% {
    bottom: auto;
    top: 156px;
    height: 36px;
  }
}
@-webkit-keyframes slack-animation--d {
  0% {
    left: 0;
    right: auto;
    width: 36px;
  }
  33% {
    left: 0;
    right: auto;
    width: 192px;
  }
  34% {
    left: auto;
    right: 0;
    width: 192px;
  }
  66% {
    left: auto;
    right: 0;
    width: 36px;
  }
  100% {
    left: auto;
    right: 156px;
    width: 36px;
  }
}
@keyframes slack-animation--d {
  0% {
    left: 0;
    right: auto;
    width: 36px;
  }
  33% {
    left: 0;
    right: auto;
    width: 192px;
  }
  34% {
    left: auto;
    right: 0;
    width: 192px;
  }
  66% {
    left: auto;
    right: 0;
    width: 36px;
  }
  100% {
    left: auto;
    right: 156px;
    width: 36px;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default)*/ 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*z-index: 1;*/
}

/* Links inside the dropdown */
.dropdown-content a  {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .d-align:hover ,.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.d-image{
    max-width: 100%;
    max-height:100%;
    margin-top:5px;
    display:none;
}

.dropdown-content .d-align:hover .d-image{
    display:block;
}

.d-align{
    display:grid;
    grid-template-columns: 0.25fr 1fr;
}

.overlay{
  background:black;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100%;
  opacity:0.65;
}